@media (max-width: --max-width-size){
        body{
            max-width: var(--desktop-width);
            min-width: var(--mobile-width);
            gap: 0;
        }
    }

    @media (max-width: 768px){
        .mensagem{
            display: flexbox;
            justify-content: center;
            text-align: center;
            height: 90vh;
            width: 100px;
            margin-left: 170px;
            margin-top: 35px;
            
        }
    
        .mensagem .titulo{
            font-size: 30px;
            padding-top: 50px;
            text-align: center;
            justify-content: center;
        }
    
        .mensagem .texto{
           font-size: 25px;
           padding-top: 50px;
           text-align: center;
           justify-content: center;
        }
    }
     
    @media (max-width: 768px){
        .container{
           display: flexbox;
           width: 300px;
           height: 45vh;
           justify-content: center; 
           align-items: center;
           margin-right: 250px;
       }
    }

    @media (max-width: 768px){
        .formulario{
            width: 30vh;
            height: 40vh;
        }
    }

    @media (max-width: 768px){
        input{
            width: 260px;
            height: 25px;
            font-size: 15px;
            resize: none;
            border: 1px solid #000;
        }

        textarea{
            width: 260px;
            height: 65px;
            font-size: 15px;
            resize: none;
            border: 1px solid #000;
        }
    }

    @media (max-width: 768px){
          
        .mensagem-alerta{
            height: 50px;
            font-size: 15px;
            margin-bottom: 130px;
            margin-left: 25px;
        }
    
        button{
            width: 260px;
            height: 50px;
            text-align: center;
            justify-content: center;
            margin-left: 15px;
            margin-top: -120px;
        }
    }