@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg-repeat.jpg');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}  

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensagem {
    color: #FFF;
    margin-bottom: 65px;
    width: 500px;
    height: 170px;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.mensagem .titulo{
   width: 500px;
   height: 90px;
   font-size: 27px;
}
.mensagem .texto{
    width: 500px;
    height: 65px;
    font-size: 20px;
}

.container{
    background: #FFF;
    width: 520px;
    height: 600px;
    text-align: center;
    display: flex;
}

.formulario{
    color: #FFFFFF;
    width: 100%;
    flex-direction: column;
    display: flex;
    /* height: 400px; */
    
}

 input{
    width: 470px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFFFFF;
    color:#000000;
    padding: 15px;
    margin-top: 15px;
}

input::placeholder{
    color: #A8A8A8;
    font-size: 15px;
    font-weight: bold;
}

textarea {
    width: 470px;
    height: 125px;
    font-family: 'Roboto';
    resize: none;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 15px;
    padding: 15px;
}   

textarea::placeholder {
    color: #A8A8A8;
    font-size: 15px;
    font-weight: bold;
  }

.mensagem-alerta{
    color: #000000;
    font-size: 18px;
    margin: 15px;
    display: flex;
    margin-top: 25px;
    margin-bottom: 35px;
}

button{
    color:#FFF;
    background-color: #3CCC87;
    font-size: 20px;
    width: 470px;
    height: 50px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin: 25px;
    margin-top: 35px;
    cursor: pointer;
 }

button:hover{
    background-color: hsl(151, 84%, 50%);
 } 

  /* ===VALIDAÇÃO NO JS=== */

 .campo-obrigatorio{
    color: #F52E2E;
    font-size: 10px;
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
 }

.campo-requerido{
    border: 1px solid #F52E2E;
}

.campo-preenchido{
    border: 1px solid #00C22B;
}

.ocultar{
    display: none;
}

 
